{% extends 'default.html' %}
{% load i18n %}
{% load news_filters %}
{% load news_tags %}

{% block title %}News Paper - Новостной портал{% endblock title %}
{% block content %}
    {% load cache %}
    {% cache 1 arch_news year month page_obj.number %}
    <h4 class="pb-1 mb-4 fst-italic">
        {% trans "Архив публикаций за" %} {{ month|name_month }} {{ year }}
    </h4>
    {% for post in posts %}
        {% include 'post_card.html' %}
    {% endfor %}
    {% endcache %}
    {% if page_obj.has_other_pages %}
        {% include 'paginator.html' %}
    {% endif %}

{% endblock content %}