{% extends 'default.html' %}
{% load i18n %}
{% load news_filters %}
{% load news_tags %}
{% block title %}Cтатьи в категории {{ cat_name }}{% endblock title %}
{% block content %}

    <h4 class="pb-1 mb-4 fst-italic">
        Публикации в категории "{{ cat_name }}"

        {% for cat in post_category %}
            {% if cat.cat.name not in is_subscribed %}
                <div class="container text-end">
                    <div class="btn-group btn-group-sm" role="group">
{#                        <button type="button" class="btn btn-primary disabled">{{ cat.cat.name }}</button>#}
                        <button type="button" class="btn btn-success">
                            <a class="text-decoration-none text-light" href="/subscribe_cat/{{ cat.cat_id }}/">Подписаться на новости в категории</a>
                        </button>
                    </div>
                </div>
            {% elif cat.cat.name in is_subscribed %}
                <div class="container text-end">
                    <div class="btn-group btn-group-sm" role="group">
{#                        <button type="button" class="btn btn-primary disabled">{{ cat.cat.name }}</button>#}
                        <button type="button" class="btn btn-danger">
                            <a class="text-decoration-none text-light" href="/unsubscribe_cat/{{ cat.cat_id }}/">Отписаться от новостей в категории</a>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </h4>

    {% for post in posts %}
        <article class="blog-post">
            <a class="text-decoration-none" href="{% url 'news:detail' post.id %}">
                <h5 class="pb-1 mb-0 fst-italic">{{ post.name|censor }}</h5>
            </a>
            <p class="blog-post-meta">
                {{ post.date_pub|date:'d.m.Y' }},
                {{ post.author_post }},
                рейтинг автора: {{ post.author_post.author_rate }}
            </p>
{#            <img class="rounded float-end" src="{{ post.content_image.url }}">#}
            <p>{{ post.content|censor|truncatewords_html:25|safe }}</p>
        </article>
    {% endfor %}
    {% if page_obj.has_other_pages %}
        {% include 'paginator.html' %}
    {% endif %}

{% endblock content %}