<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <table class="navbar">
            <tr>
                <td style="width: 65%">
                    <a href="{% url 'news:index' %}">News Paper</a>
                </td>
                <td style="width: 35%; font-size: 12pt; font-weight: bolder; text-align: right; padding-right: 25px">
                    <a href="{% url 'news:index' %}">ГЛАВНАЯ</a>
                    &blacksquare;
                    <a href="{% url 'news:search' %}">ПОИСК</a>
                    &blacksquare;
                    <a href="{% url 'news:news' %}">НОВОСТИ</a>
                    &blacksquare;
                    <a href="{% url 'news:articles' %}">СТАТЬИ</a>
                    &blacksquare;
                    <a href="{% url 'news:create' %}">ДОБАВИТЬ</a>
                </td>
            </tr>
            {% load account %}
            <tr>
                <td colspan="2" style="text-align: right; font-size: 10pt; padding-right: 25px; padding-bottom: 5px; height: 12pt; vertical-align: center;">
                    {% if user.id %}
                        Пользователь: {% user_display user %}
                        |
                        <a href="{% url 'news:profile' user.id %}">Профиль</a>
                        |
                        <a href="/accounts/logout">Выход</a>
                    {% else %}
                        <a href="/accounts/login">Вход</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        <!-- Page content-->
        <div class="container">
            <div class="text-center">
                {% block message %}
                    {% if messages %}
                    <div class="container">
                        {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-secondary{% endif %} alert-dismissible rounded-0 fade show" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endblock %}
                {% block content %}
                    {{ news.content }}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>