<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{{ title }}{% endblock title %}</title>
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <table class="navbar">
            <tr>
                <td style="width: 65%">
                    <a href="{% url 'news:index' %}">News Paper</a>
                </td>
                <td style="width: 35%; font-size: 14pt; font-weight: bolder">
                    <a href="{% url 'news:index' %}">ГЛАВНАЯ</a>
                    &blacksquare;
                    <a href="{% url 'news:articles' %}">ПОИСК</a>
                    &blacksquare;
                    <a href="{% url 'news:news' %}">НОВОСТИ</a>
                    &blacksquare;
                    <a href="{% url 'news:articles' %}">СТАТЬИ</a>
                    &blacksquare;
                    <a href="{% url 'news:articles' %}">ДОБАВИТЬ</a>
                </td>
            </tr>
        </table>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                {% block content %}
                    {{ news.content }}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>