{% extends 'default.html' %}

{% block title %}Удаление поста - "{{ object.name }}"{% endblock title %}

{% load news_filters %}
{% load news_tags %}

{% block content %}

{#<table class="news">#}
{#    <tr>#}
{#        <th style="color: red; text-align: center;">#}
{#            Удалить пост: "{{ object.name|censor }}"?#}
{#        </th>#}
{#    </tr>#}
{#    <tr>#}
{#        <td style="padding: 20px 5px; color: red; text-align: center; font-weight: bolder">#}
{#            и все связанные с ним комментарии#}
{#        </td>#}
{#    </tr>#}
{#</table>#}
<div class="container-fluid">
    <div class="mb-3 pb-3">
        <fieldset class="form-control pb-4">
            <div class="container-fluid text-center">
                <h4 class="fst-italic">
                    Удалить пост: "{{ object.name|censor }}"?
                    <br>
                    <span class="blog-post-meta fs-5">
                        также будут удалены все связанные с ним комментарии
                    </span>
                </h4>
            </div>
            <form action="" method="post">
                <p>{% csrf_token %}</p>
                <p>
                    <input class="form-control btn btn-outline-danger" type="submit" value="Удалить">
                </p>
            </form>
        </fieldset>
    </div>
</div>
{% endblock content %}