{% extends 'default.html' %}
{% load i18n %}
{% load news_filters %}
{% load news_tags %}
{% block title %}{{ content.name|censor }}{% endblock title %}
{% block content %}
    <article class="blog-post">
        <h4 class="pb-1 mb-4 fst-italic">
            {{ content.name|censor }}
            {% if user.id == content.author_post.author_user.id %}
                <div class="container text-end">
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-success">
                                <a class="text-decoration-none text-light" href="{% url 'news:edit' content.pk %}">Редактировать</a>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <a class="text-decoration-none text-light" href="{% url 'news:delete' content.pk %}">Удалить</a>
                            </button>
                        </div>
                    </div>
            {% endif %}
        </h4>
        <p class="blog-post-meta">
            {{ content.date_pub }}, {{ content.author_post }}, рейтинг автора: {{ content.author_post.author_rate }}
        </p>
        <img class="img-fluid  img-thumbnail shadow-lg" src="{{ content.content_image.url }}" alt="{{ content.name|censor }}">
        <p>{{ content.content|censor|safe }}</p>
        {% for cat in post_category %}
            {% if cat.cat.name not in is_subscribed %}
                <div class="container text-start">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary disabled">{{ cat.cat.name }}</button>
                        <button type="button" class="btn btn-success">
                            <a class="text-decoration-none text-light" href="/subscribe_cat/{{ cat.cat_id }}/">Подписаться на новости в категории: "{{ cat.cat.name }}"</a>
                        </button>
                    </div>
                </div>
            {% elif cat.cat.name in is_subscribed %}
                <div class="container text-start">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-primary disabled">{{ cat.cat.name }}</button>
                        <button type="button" class="btn btn-danger">
                            <a class="text-decoration-none text-light" href="/unsubscribe_cat/{{ cat.cat_id }}/">Отписаться от новостей в категории: "{{ cat.cat.name }}"</a>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </article>
    <div class="container text-end">
        <span class="fw-bolder">Оцените статью: &nbsp;</span>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-secondary">
                <a class="text-decoration-none text-light" href="/dislike_post/{{ content.id }}/">-</a>
            </button>
            <button type="button" class="btn btn-secondary disabled">{{ content.content_rate }}</button>
            <button type="button" class="btn btn-secondary">
                <a class="text-decoration-none text-light" href="/like_post/{{ content.id }}/">+</a>
            </button>
        </div>
    </div>
    <nav class="navbar bg-light">
        <div class="container-fluid fw-semibold">
            Комментарии ({{ comments.count }})
        </div>
    </nav>
    {% if not comments %}
        <div class="alert alert-info fw-normal" role="alert">
            К этому посту пока нет комментариев...
        </div>
    {% else %}
        {% for comment in comments %}
            <div class="alert alert-success fw-normal" role="alert">
                <span class="fw-semibold">
                    {{ comment.date_comment }}, {{ comment.user }} пишет:
                </span>
                {{ comment.comment|censor }}
                <div class="container text-end">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-secondary">-</button>
                        <button type="button" class="btn btn-secondary disabled">{{ comment.comment_rate }}</button>
                        <button type="button" class="btn btn-secondary">+</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}