{% extends 'default.html' %}

{% load censor %}
{% load news_tags %}

{% block title %}{{ content.name }}{% endblock title %}

{% block content %}

<table class="news">
    <tr>
        <th class="news_title">
            <h1>
                {{ content.name|censor }}
            </h1>
        </th>
    </tr>
    <tr>
        <td>
            {{ content.content|censor|safe }}
        </td>
    </tr>
    <tr>
        <td class="category">
            <fieldset style="padding-left: 25px">
            <legend>Управление подпиской</legend>
            {% for cat in category %}
                {% if cat.cat.name not in is_subscribed %}
                    <p><a href="/subscribe_cat/{{ cat.cat_id }}/">Подписаться на новости в категории: "{{ cat.cat.name }}"</a></p>
                {% elif cat.cat.name in is_subscribed %}
                    <p style="color: darkgreen; font-weight: bolder">
                        Вы подписаны на новости из категории: {{ cat.cat.name }}
                        |
                        <a href="/unsubscribe_cat/{{ cat.cat_id }}/">Отписаться от рассылки</a>
                    </p>
                {% endif %}
            {% endfor %}
            </fieldset>
        </td>
    </tr>
</table>
<table class="meta_data">
    <tr>
        <td>
            Автор: {{ content.author_post }}<br>
            Дата публикации: {{ content.date_pub|date:'d.m.Y' }}<br>
            Рейтинг поста/автора: {{ content.content_rate }}/{{ content.author_post.author_rate }}
        </td>
    </tr>
    <tr>
        <td class="deledit">
            <a href="{% url 'news:edit' content.pk %}">Изменить</a>
            |
            <a href="{% url 'news:delete' content.pk %}">Удалить</a>
        </td>
    </tr>
</table>
<table class="comment">
    <tr>
        <th>
            Комментарии ({{ comments.count }})
        </th>
    </tr>
    {% if not comments %}
    <tr>
        <td>
            К этому посту пока нет комментариев...
        </td>
    </tr>
    {% else %}
    {% for comment in comments %}
    <tr>
        <td>
            <strong>
                {{ comment.date_comment }}, {{ comment.user }} пишет:
            </strong>
            {{ comment.comment|censor }}
            <div class="comment">
                Рейтинг: {{ comment.comment_rate }}
            </div>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}