{% extends 'default.html' %}
{% load i18n %}
{% block title %}Добавить/изменить пост{% endblock title %}

{% block content %}

{% if edit.id == None %}
    <div class="container-fluid text-start">
        <h4 class="fst-italic">
            Публикация нового поста
            <span class="blog-post-meta fs-5">
                (опубликовано {{ count }} из {{ limit }})
            </span>
        </h4>
    </div>
    <div class="container-fluid">
        <div class="mb-3 pb-3">
            <fieldset class="form-control pb-4">
                {% if post_limit %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="form-control btn btn-outline-primary" type="submit" value="Сохранить">
                    </form>
                {% else %}
                    <div class="container-fluid text-center">
                        <h5 class="pb-1 mb-4 fst-italic link-danger fw-semibold">
                            За текущие сутки Вы исчерпали лимит публикаций!
                        </h5>
                    </div>
                {% endif %}
            </fieldset>
        </div>
    </div>
    {% else %}
    <div class="container-fluid text-start">
        <h4 class="fst-italic">
            Редактирование поста
            <span class="text-primary">"{{ edit.name }}"</span>
        </h4>
    </div>
    <div class="container-fluid">
        <div class="mb-3 pb-3">
            <fieldset class="form-control pb-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="form-control btn btn-outline-primary" type="submit" value="Сохранить">
                </form>
            </fieldset>
        </div>
    </div>
{% endif %}
{% endblock content %}