{% extends 'default.html' %}
{% load i18n %}
{% block title %}Добавить/изменить пост{% endblock title %}

{% block content %}

{% if edit.id == None %}
    <div class="container-fluid text-start">
        <h4 class="fst-italic">
            {% trans "Публикация нового поста" %}
            <span class="blog-post-meta fs-5">
                ({% blocktrans with count=count limit=limit %}опубликовано {{ count }} из {{ limit }}{% endblocktrans %})
            </span>
        </h4>
    </div>
    <div class="container-fluid">
        <div class="mb-3 pb-3">
            <fieldset class="form-control pb-4">
                {% if post_limit %}
                    {% include 'edit_form.html' %}
                {% else %}
                    <div class="container-fluid text-center">
                        <h5 class="pb-1 mb-4 fst-italic link-danger fw-semibold">
                            {% trans "За текущие сутки Вы исчерпали лимит публикаций!" %}
                        </h5>
                    </div>
                {% endif %}
            </fieldset>
        </div>
    </div>
    {% else %}
    <div class="container-fluid text-start">
        <h4 class="fst-italic">
            {% trans "Редактирование поста" %}
            <span class="text-primary">"{{ edit.name }}"</span>
        </h4>
    </div>
    <div class="container-fluid">
        <div class="mb-3 pb-3">
            <fieldset class="form-control pb-4">
                {% include 'edit_form.html' %}
            </fieldset>
        </div>
    </div>
{% endif %}
{% endblock content %}