{% extends 'default.html' %}

{% load censor %}
{% load news_tags %}

{% block title %}Новости и статьи{% endblock title %}

{% block content %}
<table class="news">
    <tr>
        <th>Последние новости</th>
    </tr>
    {% for nw in posts %}
    <tr>
        <td>
            <span class="metanews">
                {{ nw.date_pub|date:'d.m.Y' }}
                {{nw.author_post }}:
            </span>
            <a class="news_title" href="{% url 'news:detail' nw.id %}">
                {{ nw.name|censor }}
            </a>
            <br>
            <p>{{ nw.content|censor|truncatechars:250 }}</p>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}"><<&nbsp;</a>
        <a href="?{% url_replace page=page_obj.previous_page_number %}"><&nbsp;</a>
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1  %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    <span class="current">&nbsp;{{ page_obj.number }}&nbsp;</span>

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">&nbsp;></a>
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">&nbsp;>></a>
    {% endif %}
</div>

{% endblock content %}