{% extends 'default.html' %}

{% load censor %}
{% load news_tags %}

{% block title %}{{ content.name }}{% endblock title %}

{% block content %}

<table>
    <tr>
        <th style="text-align: left; padding: 5px">
            <span style="text-align: left; color: #06357a">
                {{ content.name|censor }}
            </span>
            <span style="font-size: smaller; color: #0d6efd">
                | {{ content.date_pub|date:'d.m.Y' }} |
            </span>
        </th>
    </tr>
    <tr>
        <td style="text-align: justify">
            {{ content.content|censor }}
        </td>
    </tr>
</table>

{% endblock content %}