{% extends 'default.html' %}

{% load censor %}
{% load news_tags %}

{% block title %}{{ content.name }}{% endblock title %}

{% block content %}

<table class="news">
    <tr>
        <th class="news_title">
            <h1>
                {{ content.name|censor }}
            </h1>
        </th>
    </tr>
    <tr>
        <td>
            {{ content.content|censor }}
        </td>
    </tr>
</table>
<table class="meta_data">
    <tr>
        <td>
            Автор: {{ content.author_post }}<br>
            Дата публикации: {{ content.date_pub|date:'d.m.Y' }}<br>
            Рейтинг поста/автора: {{ content.content_rate }}/{{ author.author_rate }}
        </td>
    </tr>
</table>
<table class="comment">
    <tr>
        <th>
            Комментарии ({{comments.count }})
        </th>
    </tr>
    {% if not comments %}
    <tr>
        <td>
            К этому посту пока нет комментариев...
        </td>
    </tr>
    {% else %}
    {% for comment in comments %}
    <tr>
        <td>
            <strong>
                {{ comment.date_comment }}, {{ comment.user}} пишет:
            </strong>
            {{ comment.comment|censor }}
            <div class="comment">
                Рейтинг: {{ comment.comment_rate }}
            </div>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}