{% load i18n %}
{% load news_filters %}
{% load news_tags %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ post.content_image.url }}" class="img-fluid rounded-start" alt="{{ post.name|censor }}">
    </div>
    <div class="col-md-8">
      <div class="card-body container-fluid shadow-lg">
        <a class="text-decoration-none" href="{% url 'news:detail' post.id %}">
            <h5 class="card-title fst-italic">{{ post.name|censor }}</h5>
        </a>
        <p class="card-text">{{ post.content|censor|truncatewords_html:20|safe }}</p>
        <p class="card-text">
            <small class="text-muted">
                {{ post.date_pub|date:'d.m.Y' }},
                {{ post.author_post }},
                рейтинг автора: {{ post.author_post.author_rate }}
            </small>
        </p>
      </div>
    </div>
  </div>
</div>