{% extends 'default.html' %}
{% load i18n %}
{% load censor %}
{% load news_tags %}

{% block title %}Новости и статьи{% endblock title %}

{% block content %}
    {% load cache %}
    {% cache 60 last_news %}
    {% block last_news %}
    <h4 class="pb-1 mb-4 fst-italic">
        Последние {{ posts.count }} публикаций на сайте
    </h4>
    {% for post in posts %}
        <article class="blog-post">
            <a class="text-decoration-none" href="{% url 'news:detail' post.id %}">
                <h5 class="pb-1 mb-0 fst-italic">{{ post.name|censor }}</h5>
            </a>
            <p class="blog-post-meta">
                {{ post.date_pub|date:'d.m.Y' }},
                {{ post.author_post }},
                рейтинг автора: {{ post.author_post.author_rate }}
            </p>
{#            <img class="rounded float-end" src="{{ post.content_image.url }}">#}
            <p>{{ post.content|censor|truncatewords:25|safe }}</p>
        </article>
    {% endfor %}
    {% endblock last_news %}
    {% endcache %}

{% endblock content %}