{% extends 'default.html' %}

{% load censor %}
{% load news_tags %}

{% block title %}Новости и статьи{% endblock title %}

{% block content %}

<table class="news">
    <tr>
        <th>
            Последние публикации
        </th>
    </tr>
    <tr>
        <td>
            <table>
            {% for post in posts %}
            <tr>
                <td>
                    <span class="metanews">
                        {{ post.date_pub|date:'d.m.Y' }}:
                    </span>
                    <a class="news_title" href="{% url 'news:detail' post.id %}">
                        {{ post.name|censor }}
                    </a>
                    <span class="metanews">
                        в разделе
                    </span>
                    {% if post.type_cat == 'NWS' %}
                        <a class="news_title" href="{% url 'news:news' %}">
                            <span style="font-size: smaller">{{ post.get_type_cat_display|liter }}</span>
                        </a>
                    {% elif post.type_cat == 'ART' %}
                        <a class="news_title" href="{% url 'news:articles' %}">
                            <span style="font-size: smaller">{{ post.get_type_cat_display|liter }}</span>
                        </a>
                    {% else %}
                        <a class="news_title" href="#">
                            #
                        </a>
                    {% endif %}
                    <br>
                    <p>{{ post.content|censor|truncatechars:250|safe }}</p>
                </td>
            </tr>
            {% endfor %}
            </table>
        </td>
    </tr>
</table>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}"><<&nbsp;</a>
        <a href="?{% url_replace page=page_obj.previous_page_number %}"><&nbsp;</a>
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1  %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    <span class="current">&nbsp;{{ page_obj.number }}&nbsp;</span>

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">&nbsp;></a>
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">&nbsp;>></a>
    {% endif %}
</div>

{% endblock content %}