{% extends 'default.html' %}
{% load i18n %}
{% block title %}{% trans "Профиль пользователя" %} {{ user }}{% endblock title %}

{% block content %}

<div class="container-fluid text-start">
    <h4 class="fst-italic">
        {% trans "Профиль пользователя" %}
        <span class="text-primary">{{ user }}</span>
    </h4>
</div>
<div class="container-fluid">
    <div class="mb-3 pb-3">
        <fieldset class="form-control pb-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control btn btn-outline-primary" type="submit" value="{% trans "Сохранить" %}">
              </form>
        </fieldset>
    </div>
</div>
{% if not is_author %}
    <div class="container-fluid">
        <div class="mb-3 pb-3">
            <fieldset class="form-control mb-3">
                <a class="form-control btn btn-outline-primary" href="/req_to_author/">{% trans "Стать автором" %}</a>
            </fieldset>
        </div>
    </div>
{% endif %}
{% endblock content %}