{% extends 'default.html' %}
{% load i18n %}
{% load news_filters %}
{% load news_tags %}

{% block title %}Поиск по сайту{% endblock title %}

{% block content %}
<div class="container-fluid text-start">
    <h4 class="pb-1 mb-4 fst-italic">
        Поиск по сайту
    </h4>
</div>
<div class="container-fluid">
    <div class="mb-3 pb-3">
        <fieldset class="form-control">
            <form action="" method="get">
                {{ postfilter.form.non_field_errors }}
                {{ postfilter.form.name__icontains.errors }}
                <p>
                    <label class="form-label" id="{{ postfilter.form.name__icontains.id_for_label }}">{{ postfilter.form.name__icontains.label }}</label>
                    <input
                            class="form-control border-primary"
                            id="{{ postfilter.form.name__icontains.id_for_label }}"
                            type="text"
                            name="{{ postfilter.form.name__icontains.name }}"
                            {% if postfilter.form.name__icontains.value %}
                                value="{{ postfilter.form.name__icontains.value }}"
                            {% else %}
                                value=""
                            {% endif %}>
                </p>
                <p>
                    <label class="form-label" id="{{ postfilter.form.post_cat.id_for_label }}">{{ postfilter.form.post_cat.label }}</label>
                    <select class="form-control border-primary" id="{{ postfilter.form.post_cat.id_for_label }}" name="{{ postfilter.form.post_cat.name }}" multiple>
                        {% for item in postfilter.form.post_cat %}
                            {{ item }}
                        {% endfor %}
                    </select>
                </p>
            <p><label class="form-label" id="{{ postfilter.form.date_pub__gt.id_for_label }}">{{ postfilter.form.date_pub__gt.label }}</label>
                <input
                    id="{{ postfilter.form.date_pub__gt.id_for_label }}"
                    name="{{ postfilter.form.date_pub__gt.name }}"
                    type="datetime-local"
                    value="{{ postfilter.form.date_pub__gt.value }}"
                    class="form-control border-primary">
            </p>
            <p>
                <input class="form-control btn btn-outline-primary btn-sm" type="submit" value="Поиск">
            </p>

            </form>
        </fieldset>
    </div>
</div>

    {% if postfilter.form.name__icontains.value or postfilter.form.post_cat.value or postfilter.form.date_pub__gt.value %}
        {% if search %}
            <h4 class="pb-1 mb-4 fst-italic">
                Результаты поиска
            </h4>
            {% for item in search %}
                <article class="blog-post">
                    <a href="{% url 'news:detail' item.id %}">
                        <h5 class="pb-1 mb-0 fst-italic">{{ item.name|censor }}</h5>
                    </a>
                    <p class="blog-post-meta">
                        {{ item.date_pub|date:'d.m.Y' }},
                        {{ item.author_post }}
                    </p>
                    <p>{{ item.content|censor|truncatewords_html:25|safe }}</p>
                </article>
            {% endfor %}

            <div class="container text-center">
                <nav class="blog-pagination" aria-label="Pagination">
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}"><<</a></li>
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}"><</a>
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a>
                            {% if page_obj.previous_page_number != 1  %}
                                <li class="page-item" aria-current="page">
                                    <span class="page-link disabled">...</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                            {% endif %}
                        {% endif %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                            {% if paginator.num_pages != page_obj.next_page_number %}
                                <li class="page-item" aria-current="page">
                                    <span class="page-link disabled">...</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
                            {% endif %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">></a></li>
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">>></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
         {% else %}
                <h5 class="pb-1 mb-0 fst-italic">По данному запросу ничего не найдено</h5>
        {% endif %}
    {% endif %}
{% endblock content %}

