{% extends 'default.html' %}
{% load i18n %}
{% load news_filters %}
{% load news_tags %}

{% block title %}{% trans "Поиск по сайту" %}{% endblock title %}

{% block content %}
<div class="container-fluid text-start">
    <h4 class="pb-1 mb-4 fst-italic">
        {% trans "Поиск по сайту" %}
    </h4>
</div>
<div class="container-fluid">
    <div class="mb-3 pb-3">
        <fieldset class="form-control">
            <form action="" method="get">
                {{ postfilter.form.non_field_errors }}
                {{ postfilter.form.name__icontains.errors }}
                <p>
                    <label class="form-label" id="{{ postfilter.form.name__icontains.id_for_label }}">{{ postfilter.form.name__icontains.label }}</label>
                    <input
                            class="form-control border-primary"
                            id="{{ postfilter.form.name__icontains.id_for_label }}"
                            type="text"
                            name="{{ postfilter.form.name__icontains.name }}"
                            {% if postfilter.form.name__icontains.value %}
                                value="{{ postfilter.form.name__icontains.value }}"
                            {% else %}
                                value=""
                            {% endif %}>
                </p>
                <p>
                    <label class="form-label" id="{{ postfilter.form.post_cat.id_for_label }}">{{ postfilter.form.post_cat.label }}</label>
                    <select class="form-control border-primary" id="{{ postfilter.form.post_cat.id_for_label }}" name="{{ postfilter.form.post_cat.name }}" multiple>
                        {% for item in postfilter.form.post_cat %}
                            {{ item }}
                        {% endfor %}
                    </select>
                </p>
            <p><label class="form-label" id="{{ postfilter.form.date_pub__gt.id_for_label }}">{{ postfilter.form.date_pub__gt.label }}</label>
                <input
                    id="{{ postfilter.form.date_pub__gt.id_for_label }}"
                    name="{{ postfilter.form.date_pub__gt.name }}"
                    type="datetime-local"
                    value="{{ postfilter.form.date_pub__gt.value }}"
                    class="form-control border-primary">
            </p>
            <p>
                <input class="form-control btn btn-outline-primary btn-sm" type="submit" value="{% trans "Поиск" %}">
            </p>

            </form>
        </fieldset>
    </div>
</div>

    {% if postfilter.form.name__icontains.value or postfilter.form.post_cat.value or postfilter.form.date_pub__gt.value %}
        {% if search %}
            <h4 class="pb-1 mb-4 fst-italic">
                {% trans "Результаты поиска" %}
            </h4>
            {% for item in search %}
                <article class="blog-post">
                    <a href="{% url 'news:detail' item.id %}">
                        <h5 class="pb-1 mb-0 fst-italic">{{ item.name|censor }}</h5>
                    </a>
                    <p class="blog-post-meta">
                        {{ item.date_pub|date:'d.m.Y' }},
                        {{ item.author_post }}
                    </p>
                    <p>{{ item.content|censor|truncatewords_html:25|safe }}</p>
                </article>
            {% endfor %}

            {% if page_obj.has_other_pages %}
                {% include 'paginator.html' %}
            {% endif %}

         {% else %}
                <h5 class="pb-1 mb-0 fst-italic">{% trans "По данному запросу ничего не найдено" %}</h5>
        {% endif %}
    {% endif %}
{% endblock content %}

