<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% load news_filters %}
    <h2>
        {{ name }}, в категории "{{ category }}" новая статья
    </h2>
    <h4>
        <a href="{{ link }}">{{ title|censor }}</a>
    </h4>
    <p>
        {{ content|censor|truncatewords_html:30|safe }}
    </p>
    <p style="font-style: italic">
        Полностью прочитать статью на сайте Вы можете кликнув на заголовок.
    </p>
    <p>
        С уважением, администрация сайта "{{ site_name }}".
    </p>
</body>
</html>