@charset "UTF-8";
/*
body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

table.navbar {
  width: 100%;
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 20pt;
  background-color: #1f1f1f;
}
table.navbar td {
  color: #f0f0f0;
  height: 80px;
  padding-left: 30px;
  vertical-align: center;
}
table.navbar a:link {
  color: #f0f0f0;
  font-weight: lighter;
  text-decoration: none;
}
table.navbar a:visited {
  color: #f0f0f0;
  text-decoration: none;
}
table.navbar a:active {
  color: #f0f0f0;
  text-decoration: none;
}
table.navbar a:hover {
  color: #f0f0f0;
  text-decoration: none;
}
div.container {
  color: #0a0a0a;
  padding: 25px;
}

.news_title h1 {
  color: mediumblue;
  font-size: 14pt;
}
a.news_title:link {
  color: mediumblue;
  font-size: 14pt;
  font-weight: bolder;
  text-decoration: none;
}
a.news_title:visited {
  color: mediumblue;
  text-decoration: none;
}
a.news_title:active {
  color: mediumblue;
  text-decoration: none;
}
a.news_title:hover {
  color: crimson;
  text-decoration: none;
}

table.news {
  width: 100%;
  font-size: 12pt;
}
table.news th {
  padding: 5px 15px;
  text-align: left;
  font-weight: bolder;
  font-size: 16pt;
}
table.news td {
  padding: 5px 15px;
  vertical-align: top;
  text-align: justify;
}
table.news td a:link{
  text-decoration: none;
  color: mediumblue;
  font-weight: bolder;
}
table.news td a:visited{
  text-decoration: none;
  color: mediumblue;
  font-weight: bolder;
}
table.news td a:active{
  text-decoration: none;
  color: mediumblue;
  font-weight: bolder;
}
table.news td a:hover{
  text-decoration: none;
  color: red;
  font-weight: bolder;
}

table.meta_data {
  padding: 5px 15px;
  width: 100%;
  color: #0a0a0a;
}
table.meta_data td {
  padding-top: 15px;
  text-align: right;
  font-weight: bolder;
  font-size: 11pt;
}
table.meta_data a:link {
  font-size: 12pt;
  text-decoration: none;
  color: mediumblue;
}
table.meta_data a:visited {
  font-size: 12pt;
  text-decoration: none;
  color: mediumblue;
}
 table.meta_data a:hover {
   font-size: 12pt;
  text-decoration: none;
  color: red;
}

.metanews {
  font-size: 12pt;
  font-weight: bolder;
  color: #04414d
}

div.pagination {
  font-size: 12pt;
  color: black;
  text-align: center;
  font-weight: bolder;
}
div.pagination a:link {
  color: mediumblue;
  text-decoration: none;
}
div.pagination a:visited {
  color: mediumblue;
  text-decoration: none;
}
div.pagination a:active {
  color: mediumblue;
  text-decoration: none;
}
div.pagination a:hover {
  color: mediumblue;
  text-decoration: underline;
}
.current {
  color: red;
}

table.comment {
  padding-top: 10px;
  width: 100%;
}
table.comment th {
  padding: 15px;
  text-align: left;
  font-size: 14pt;
  font-weight: bolder;
  background-color: #dfdfdf;
}
table.comment td {
  font-size: 11pt;
  vertical-align: top;
  padding: 15px;
  text-align: left;
}
div.comment {
  text-align: right;
  font-size: 10pt;
}

table.navigate {
  width: 80%;
  border: none;
  padding-left: 15px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}
table.navigate td {
  text-align: left;
  padding: 10px 30px;
  background: #2f2f2f;
  font-size: 14pt;
  color: #dfdfdf;
  border: 2px solid #dfdfdf;
}
table.navigate td:hover {
  background: #1f1f1f;
}
table.navigate a:link {
  text-decoration: none;
  color: #dfdfdf;
}
table.navigate a:active {
  text-decoration: none;
  color: #dfdfdf;
}
table.navigate a:visited {
  text-decoration: none;
  color: #dfdfdf;
}
table.navigate a:hover {
  text-decoration: none;
  color: #dfdfdf;
}
*/
table.find_form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
}
table.find_form td.label_form {
  vertical-align: top;
  padding: 5px 10px;
  text-align: right;
}
table.find_form th {
  padding: 5px 10px;
  text-align: right;
}
table.find_form td {
  padding: 5px 10px;
  text-align: left;
}
table.find_form td.input_form {
  padding: 5px 10px;
  text-align: left;
}
table.find_form input {
  width: 180px;
}
table.find_form select {
  width: 180px;
}
table.find_form td.submit_form {
  padding: 25px 15px;
  text-align: center;
}

/*
table.find_form td.submit_form input {
  width: 350px;
  background-color: #fff;
  text-align: center;
}

.errorlist {
  font-weight: bolder;
  color: red;
}

table.profile_form {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
}

table.profile_form th {
  vertical-align: top;
  text-align: right;
  padding: 5px 5px;
  width: 240px;
}
table.profile_form td {
  vertical-align: top;
  text-align: left;
  padding: 5px 5px;
}
table.profile_form td.submit_profile {
  text-align: center;
  padding-top: 15px;
}
table.profile_form td.submit_profile input {
  width: 350px;
  background-color: #dfdfdf;
  text-align: center;
}
table.profile_form td.submit_profile button a:link {
  text-decoration: none;
}
table.profile_form td.submit_profile button a:visited {
  text-decoration: none;
}
table.profile_form td.submit_profile button a:active {
  text-decoration: none;
}
table.profile_form td.submit_profile button a:hover {
  text-decoration: none;
}*/
/* Forms allauth */
.allauth h1 {
  padding: 15px 25px;
  margin: auto;
  text-align: center;
  font-size: 18pt;
  color: #0a53be;
  font-family: Calibri, Helvetica, sans-serif;
}
.allauth p {
  padding: 15px 25px;
  width: 420px;
  margin: auto;
  text-align: center;
  font-weight: normal;
  color: #1f1f1f;
}
.allauth a:link {
  text-decoration: none;
  color: mediumblue;
}
.allauth a:visited {
  text-decoration: none;
  color: mediumblue;
}
.allauth a:active {
  text-decoration: none;
  color: mediumblue;
}
.allauth a:hover {
  text-decoration: none;
  color: red;
}
.allauth label {
  font-weight: bolder;
  margin: auto;
}
.allauth input, .allauth button {
  margin-right: auto;
  margin-left: auto;
}
.allauth button {
  width: 150px;
  border: transparent;
  background: #dfdfdf;
  padding: 5px;
}
.allauth button:hover {
  width: 150px;
  background: mediumblue;
  color: #f0f0f0;
}
.socialaccount_ballot {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #1f1f1f;
}
.socialaccount_ballot ul, .socialaccount_ballot li {
  padding-right: 10px;
  display: inline;
}
/*.socialaccount_ballot li {*/
/*  padding-right: 10px;*/
/*  display: inline;*/
/*}*/
.google, .google a {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("/static/img/google.png");
  text-indent: -9999px;
}
.yandex, .yandex a {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("/static/img/yandex.png");
  text-indent: -9999px;
}
.vk, .vk a {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("/static/img/vk.png");
  text-indent: -9999px;
}

div.login-or {
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}
.secondaryAction, .secondaryAction a {
  display: table;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.primaryAction {
  display: table;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}
/*
.alert {
  position:relative;
  padding:.75rem 1.25rem;
  margin-bottom:1rem;
  border:1px solid transparent;
  border-radius:.25rem
}
.alert-heading {
  color:inherit
}
.alert-link {
  font-weight: 700;
}
.alert-dismissible .close {
  position:absolute;
  top:0;right:0;
  padding:.75rem 1.25rem;
  color:inherit
}
.alert-primary {
  color:#004085;
  background-color: #cce5ff;
  border-color:#b8daff
}
.alert-primary hr {
  border-top-color:#9fcdff
}
.alert-primary .alert-link {
  color:#002752
}
.alert-secondary {
  color:#464a4e;
  background-color:#e7e8ea;
  border-color:#dddfe2
}
.alert-secondary hr {
  border-top-color:#cfd2d6
}
.alert-secondary .alert-link {
  color:#2e3133
}
.alert-success {
  color:#155724;
  background-color:#d4edda;
  border-color:#c3e6cb
}
.alert-success hr {
  border-top-color:#b1dfbb
}
.alert-success .alert-link {
  color:#0b2e13
}
.alert-info {
  color:#0c5460;
  background-color:#d1ecf1;
  border-color:#bee5eb
}
.alert-info hr {
  border-top-color:#abdde5
}
.alert-info .alert-link {
  color:#062c33
}
.alert-warning {
  color:#856404;
  background-color:#fff3cd;
  border-color:#ffeeba
}
.alert-warning hr {
  border-top-color:#ffe8a1
}
.alert-warning .alert-link {
  color:#533f03
}
.alert-danger {
  color:#721c24;
  background-color:#f8d7da;
  border-color:#f5c6cb
}
.alert-danger hr {
  border-top-color:#f1b0b7
}
.alert-danger .alert-link {
  color:#491217
}
.alert-light {
  color:#818182;
  background-color: #fefefe;
  border-color:#fdfdfe
}
.alert-light hr {
  border-top-color:#ececf6
}
.alert-light .alert-link {
  color:#686868
}
.alert-dark {
  color:#1b1e21;
  background-color:#d6d8d9;
  border-color:#c6c8ca
}
.alert-dark hr {
  border-top-color:#b9bbbe
}
.alert-dark .alert-link {
  color:#040505
}
*/