@charset "UTF-8";
body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

table.navbar {
  width: 100%;
  font-family: Calibri, Helvetica, sans-serif;
  font-size: 20pt;
  background-color: #1f1f1f;
}
table.navbar td {
  color: #f0f0f0;
  height: 80px;
  padding-left: 30px;
  vertical-align: center;
}
table.navbar a:link {
  color: #f0f0f0;
  font-weight: lighter;
  text-decoration: none;
}
table.navbar a:visited {
  color: #f0f0f0;
  text-decoration: none;
}
table.navbar a:active {
  color: #f0f0f0;
  text-decoration: none;
}
table.navbar a:hover {
  color: #f0f0f0;
  text-decoration: none;
}
div.container {
  color: #0a0a0a;
  padding: 25px;
}

.news_title h1 {
  color: mediumblue;
  font-size: 14pt;
}
a.news_title:link {
  color: mediumblue;
  font-size: 14pt;
  font-weight: bolder;
  text-decoration: none;
}
a.news_title:visited {
  color: mediumblue;
  text-decoration: none;
}
a.news_title:active {
  color: mediumblue;
  text-decoration: none;
}
a.news_title:hover {
  text-decoration: underline;
}

table.news {
  width: 100%;
  font-size: 12pt;
}
table.news th {
  padding: 5px 15px;
  text-align: left;
  font-weight: bolder;
  font-size: 16pt;
}
table.news td {
  padding: 5px 15px;
  vertical-align: top;
  text-align: justify;
}

table.meta_data {
  padding: 5px 15px;
  width: 100%;
  color: #0a0a0a;
}
table.meta_data td {
  padding-top: 15px;
  text-align: right;
  font-weight: bolder;
  font-size: 11pt;
}
table.meta_data a:link {
  font-size: 12pt;
  text-decoration: none;
  color: mediumblue;
}
table.meta_data a:visited {
  font-size: 12pt;
  text-decoration: none;
  color: mediumblue;
}
 table.meta_data a:hover {
   font-size: 12pt;
  text-decoration: none;
  color: red;
}

.metanews {
  font-size: 12pt;
  font-weight: bolder;
  color: #04414d
}

div.pagination {
  font-size: 12pt;
  color: black;
  text-align: center;
  font-weight: bolder;
}
div.pagination a:link {
  color: mediumblue;
  text-decoration: none;
}
div.pagination a:visited {
  color: mediumblue;
  text-decoration: none;
}
div.pagination a:active {
  color: mediumblue;
  text-decoration: none;
}
div.pagination a:hover {
  color: mediumblue;
  text-decoration: underline;
}
.current {
  color: red;
}

table.comment {
  padding-top: 10px;
  width: 100%;
}
table.comment th {
  padding: 15px;
  text-align: left;
  font-size: 14pt;
  font-weight: bolder;
  background-color: #dfdfdf;
}
table.comment td {
  font-size: 11pt;
  vertical-align: top;
  padding: 15px;
  text-align: left;
}
div.comment {
  text-align: right;
  font-size: 10pt;
}

table.navigate {
  width: 80%;
  border: none;
  padding-left: 15px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
}
table.navigate td {
  text-align: left;
  padding: 10px 30px;
  background: #2f2f2f;
  font-size: 14pt;
  color: #dfdfdf;
  border: 2px solid #dfdfdf;
}
table.navigate td:hover {
  background: #1f1f1f;
}
table.navigate a:link {
  text-decoration: none;
  color: #dfdfdf;
}
table.navigate a:active {
  text-decoration: none;
  color: #dfdfdf;
}
table.navigate a:visited {
  text-decoration: none;
  color: #dfdfdf;
}
table.navigate a:hover {
  text-decoration: none;
  color: #dfdfdf;
}

table.find_form {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
}
table.find_form td.label_form {
  padding: 5px 10px;
  text-align: right;
  width: 175px;
}
table.find_form th {
  padding: 5px 10px;
  text-align: right;
  width: 175px;
}
table.find_form td {
  padding: 5px 10px;
  text-align: left;
  width: 200px;
}
table.find_form td.input_form {
  padding: 5px 10px;
  text-align: left;
  width: 200px;
}
table.find_form td.submit_form {
  padding-top: 15px;
  text-align: center;
}
table.find_form input {
  width: 160px;
}
table.find_form textarea {
  width: 640px;
}
table.find_form select {
  width: 165px;
}
table.find_form td.submit_form input{
  width: 350px;
  background-color: #fff;
  text-align: center;
}

.errorlist {
  font-weight: bolder;
  color: red;
}